.userSelector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 8px;
}
.userChipsContainer {
  display: flex;
  align-items: center;
  overflow-x: auto;
  scrollbar-width: thin;
  margin-right: 8px;
}

.userChipsContainer::-webkit-scrollbar {
  height: 4px;
}

.userChipsContainer::-webkit-scrollbar-thumb {
  background-color: #ced4da;
  border-radius: 10px;
}

.userChipsContainer::-webkit-scrollbar-track {
  background-color: #f8f9fa;
}

.userChip {
  display: flex;
  align-items: center;
  background-color: #e9ecef;
  border-radius: 16px;
  margin-right: 8px;
  padding: 4px 8px;
  white-space: nowrap;
}

.avatar {
  width: 24px; /* Small avatar size */
  height: 24px;
  border-radius: 50%;
  margin-right: 4px; /* Space between avatar and username */
}

.userName {
  font-size: 0.875rem;
}

.removeUserButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem; /* Adjust as needed */
}

.addUserButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}
